<div class="container">
  <div class="pt-5 m-auto">
    <div style="max-width: 500px; margin: 0 auto" class="pb-5">
      <!-- Copy the content below until next comment -->
      <div class="card card-custom bg-white border-white border-0">
        <div
          class="card-custom-img"
          style="background-image: url(assets/img/tri.jpg)"
        ></div>
        <div class="card-body" style="overflow-y: auto">
          <router-outlet (activate)="onActivate()"></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
