<div class="card-custom-avatar">
  <img class="img-fluid" [src]="application?.iconURL" alt="Avatar" />
</div>

<div role="button" [routerLink]="'/'" style="cursor: pointer">
  <i class="fa fa-chevron-left fa-1x" aria-hidden="true"></i> Back <br /><br />
</div>
<h2>{{ application?.title }}</h2>

<!-- Description -->
<section>
  {{ application?.description }}
</section>

<section class="row pt-4 pb-4">
  <div class="col-6 text-right">
    <a
      *ngIf="application?.androidGooglePlayUrl"
      [href]="application?.androidGooglePlayUrl"
      target="_blank"
      class="pr-2"
      ><img src="assets/img/google.png" style="width: 128px"
    /></a>
  </div>
  <div class="col-6 text-left">
    <a
      *ngIf="application?.iosAppStoreUrl"
      [href]="application?.iosAppStoreUrl"
      target="_blank"
      ><img src="assets/img/apple.png" style="width: 128px"
    /></a>
  </div>
</section>

<!-- Features -->
<section class="pt-4" *ngIf="application?.features">
  <h3 class="pb-2">Features</h3>

  <section class="pb-3" *ngFor="let feature of application?.features">
    <h4>{{ feature.title }}</h4>
    <div>{{ feature.description }}</div>
  </section>
</section>

<!-- Privacy policy  -->
<section *ngIf="application?.ppURL" class="pt-4">
  <h3 class="pb-2">Privacy Policy</h3>
  Please find {{ application?.title }} application privacy policy
  <a [href]="application?.ppURL" target="_blank">here</a>!
</section>

<!-- Feedback -->
<div class="text-center pt-5 pb-3" *ngIf="application?.feedbackUrl">
  <a [href]="application?.feedbackUrl" target="_blank">
    <button class="button-9" role="button">Contact Us, Give Us Feedback</button>
  </a>
</div>
<br /><br /><br />
